#Visual Studio Dateien ignorieren
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.ipch
*.opensdf
*.opendb
*.sdf
*.VC.db

#XCode
.DS_Store
project.xcworkspace/
xcuserdata/
xcode/.idea/*
!xcode/.idea/runConfigurations


TestHost/\.idea/

TestHost/cmake-build-debug/

TestHost/cmake-build-release/
