<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <GoogleTestAdapterSettings>
    <SolutionSettings>
      <Settings>
				<CatchExceptions>true</CatchExceptions>
				<TestDiscoveryRegex>TestHost.exe</TestDiscoveryRegex>
      </Settings>
    </SolutionSettings>
  </GoogleTestAdapterSettings>
</RunSettings>
